.container
{
  padding-top: 40px;
  padding-left: 30px;
	display: flex;
	flex direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

body
{
  font-family: 'Nanum Gothic';
}

.container
{
  font-family: 'Nanum Gothic';
}

.button-group
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 55%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.right
{
	margin-left: 30px;
}

h1
{
  font-family: 'Nanum Gothic';
}

p
{
  font-family: 'Nanum Gothic';
}

span
{
	font-size: 2em;
}

.fas.fa-thumbtack
{
	transform: rotate(-45deg);
}

a
{
  color: inherit;
}
a:hover{
  color: #E6FFFF;
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  background: #ECEFCF;
}

img
{
	margin-bottom: 30px;
	border: 1px solid silver;
	border-radius: 5px;
}



@media only screen and (max-width:480px) {
      
	
	.container
	{
 	padding-top: 40px;
 	padding-left: 30px;
	display: flex;
	flex direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
	.right
	{
	margin-left: 0px;
	}
	
	.btn{
        font-size:2em;
        width:100%;
        min-width: 50px;
        max-width: 300px;
      }
      h1{
      font-size: 1.5em;
      }
  
      p{
      font-size: 2em;
      }
	
	span
	{
		font-size: 4em;
	}
}
