
body
{
	background-image: url("papierpeint.png");
}

#cv
{
	width: 90%;
	margin: auto;
	text-align: center;
}

section
{
	
	vertical-align: top;
	flex-direction: column;
	max-width: 80%;
	margin: auto;
	text-align: center;
}


footer
{
	height: 20%;
}

h1
{
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-family: 'Advent Pro';
	letter-spacing: .1rem;
	color: #595959;
	width: 300px;
	border: solid 1px grey;
	border-radius: 4px 4px 4px 4px;
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 4px;
	padding-bottom: 2px;
	box-shadow: -1px 4px 5px -1px rgba(179,179,179,0.75);
}

p
{
	color: black;
	text-align: center;
	font-family: 'Didact Gothic', Arial, Verdana, "Arial Black", sans-serif;
	font-weight: bold;
}

h2
{
	margin: auto;
	text-align: center;
	font-family: 'Didact Gothic';
	color: rgb(80, 96, 115);
}

h3
{
	font-family: 'Advent Pro';
	letter-spacing: .1rem;
	text-align: center;
}


	ul
	{
		font-family: 'Didact Gothic';
		font-size: 0.9em;
		margin-left: 5px;
		margin-right: 8px;
	  	height: 300px;
	 	text-align: justify;
	 	border: 1px solid grey;
	 	border-radius: 3px;
	 	background-color: rgba(255, 255, 255, 0.5);
		overflow: auto;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 3px;
		box-shadow: -1px 4px 5px -1px rgba(179,179,179,0.75);
	}

	li
		{
		list-style-type: none;
		}

	a
		{
			color: rgb(80, 96, 115);
			line-height: 30px;
		}

	a:hover
		{
		   text-decoration: underline;
		   color: rgb(254, 172, 103);
		   background-color: white;
		   border-radius: 3px;
		   padding: 2px;
		}

	a:active
		{
		    background-color: white;
		}

	a:visited
		{
		    color: #AAA;
		}

img
{
	border: 1px solid grey;
	padding: 4px;
	border-radius: 4px;
}

@media all and (max-device-width: 480px)
{
	#bloc_page
	{
		width: auto;
		flex-direction: column;
	}
	section
	{
		flex-direction: column;
		flex-wrap: wrap;
		width: 90%;
		height: auto;
		justify-content: space-around;
		padding-top: 20px;
		padding-right: 40px;
		padding-bottom: 20px;
	}
	ul
	{
		font-size: large;
		height: auto;
	}

	a
	{
		line-height: 60px
		font-size : 25px;
	}
	h1
	{
		line-height: 50px;
		font-size: 40px;
	}

}
