	.container
	{
		padding-top: 20px;
		padding-left: 30px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		font-family: 'Concert One', cursive;
	}

	body
	{
		font-family: 'Concert One', cursive;
		background-color: #E9E2CE;
	}

	.left {
		display: flex;
		flex-direction: column;
	}

	.button-group
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 50%;
		margin-top: 14px;
		margin-bottom: 30px;
	}

	.right
	{
		background-color: #EEEEEE;
		padding: 1rem 1rem 1rem 1.3rem;
		border-radius: 0.4rem;
	}

	/* works */


	.mini-header {
		margin-bottom: 2.5rem;
	}

	.section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: baseline;
	}

	.domains {
		width: 50rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.one-domain {
		background-color: #bad4ec;
		padding: 1rem 2rem 1rem 2rem;
		border-radius: 0.4rem;
		width: 18rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	h1
	{
		margin-top: 0rem;
		margin-bottom: 0.2rem;
		font-family: 'Concert One', cursive;
		font-size: 3.2rem;
		color: #3d6190;
	}

	.sous-titre-works {
		color: #cfa266;
	}

	h3 {
		margin-top: 1rem;
		color: #6A453B;
	}

	p
	{
		font-family: 'Inria Sans', sans-serif;
	}

	span
	{
		font-size: 1.3em;
	}

	.fas.fa-thumbtack
	{
		transform: rotate(-45deg);
		color: #ECECEC;
		text-align: center;
	}

	.fas.fa-paperclip.fa-sm, .fab.fa-github {
		color: #ff6a00;
	}

	a
	{
		color: #011936;
		text-decoration: none;
		/*margin-left: 1.3rem;*/
	}
	a.works {
		margin-left: 2rem;
	}

	a:hover{
		font-weight: 700;
		color: #465362;
		text-decoration: none;
	}

	.button {
		border-radius: 3rem;
		padding: 0.2rem 0.8rem 0.2rem 0.8rem;
	}

	img
	{
		margin-bottom: 30px;
		border-radius: 0.4rem;
	}



	@media only screen and (max-width:480px) {
	      
		
		.container
		{
	 	padding-top: 40px;
	 	padding-left: 30px;
		display: flex;
		flex direction: column;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
	}
		.right
		{
		margin-left: 0px;
		}
		
		.btn{
	        font-size:2em;
	        width:100%;
	        min-width: 50px;
	        max-width: 300px;
	      }
	      h1{
	      font-size: 1.5em;
	      }
	  
	      p{
	      font-size: 2em;
	      }
		
		span
		{
			font-size: 4em;
		}
	}
