body
{
	background-image: url("papierpeint.png");
}

#cv
{
	width: 90%;
	margin: auto;
}

.sommaire {
	display: none;
}

.paragraphes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

section
{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 2%;
}


footer
{
	height: 20%;
}

h1
{
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-family: "Courier New", Arial, Verdana, "Arial Black", sans-serif;
	font-size: 1.5rem;
	color: #595959;
	width: 300px;
	border: solid 1px black;
	border-radius:  0.5rem 0.5rem 0.5rem 0.5rem;
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 4px;
	padding-bottom: 2px;
	box-shadow: 6px 6px 10px ;
}


h2
{
	margin: auto;
	text-align: center;
	font-family: "Courier New";
	color: rgb(80, 96, 115);
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0.2rem 0.2rem 0.5rem 0.2rem;
}

h3
{
	font-family: "courier New";
	text-align: center;
}


ul
{
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	margin-left: 5px;
	margin-right: 5px;
	width: 1;
    height: 300px;
    text-align: justify;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
	overflow: auto;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 6px 6px 10px ;
}

a
	{
		color: rgb(80, 96, 115);
		line-height: 30px;
	}

a:hover
	{
	   text-decoration: underline;
	   color: rgb(254, 172, 103);
	   background-color: white;
	   border-radius: 6px;
	   padding: 2px;
	}

a:active
	{
	    background-color: white;
	}

a:visited
	{
	    color: #AAA;
	}

p
{
	color: rgb(250, 250, 250);
	font-weight: 300;
	text-align: center;
	font-family: "Courier New", Arial, Verdana, "Arial Black", sans-serif;
}

span
{
	color: black;
	font-weight: 700;
}

img
{
	border: 1px solid black;
	padding: 4px;
	border-radius: 4px;
}

@media all and (max-device-width: 480px)
{
	#bloc_page
	{
		width: auto;
		flex-direction: column;
	}
	.sommaire {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
	section
	{
		flex-direction: column;
		flex-wrap: wrap;
		width: 90%;
		height: auto;
		justify-content: space-around;
		padding-top: 20px;
		padding-right: 40px;
		padding-bottom: 20px;
	}
	ul
	{
		font-size: large;
		height: auto;
	}

	a
	{
		line-height: 60px
		font-size : 25px;
	}
	h1
	{
		line-height: 50px;
		font-size: 40px;
	}

}
